root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{cs,razor}]
indent_size = 4

[*.cs]

csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false

csharp_style_namespace_declarations = file_scoped:error
dotnet_style_namespace_match_folder = true
dotnet_diagnostic.IDE0130.severity = error
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
csharp_using_directive_placement = outside_namespace:warning
csharp_style_var_for_built_in_types = false:silent
csharp_style_var_when_type_is_apparent = true:suggestion

csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_expression_bodied_lambdas = true:suggestion

csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_pattern_matching_over_as_with_null_check = true:warning
csharp_style_prefer_switch_expression = true:warning
csharp_style_prefer_pattern_matching = true:warning
csharp_style_prefer_not_pattern = true:warning
csharp_style_prefer_extended_property_pattern = true:warning
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:warning

dotnet_style_collection_initializer = true:warning
dotnet_style_object_initializer = true:warning
dotnet_style_prefer_collection_expression = true:warning
csharp_style_prefer_index_operator = true:warning
csharp_style_prefer_range_operator = true:warning
csharp_prefer_simple_default_expression = true:warning
csharp_style_implicit_object_creation_when_type_is_apparent = true:warning

dotnet_style_coalesce_expression = true:warning
dotnet_style_null_propagation = true:warning
csharp_style_prefer_null_check_over_type_check = true:warning
csharp_style_conditional_expression_over_assignment = true:suggestion

csharp_prefer_braces = when_multiline:warning
csharp_prefer_simple_using_statement = true:warning
csharp_style_prefer_method_group_conversion = true:silent

dotnet_style_prefer_auto_properties = true:warning
dotnet_style_prefer_conditional_expression_over_return = true:suggestion
dotnet_style_prefer_compound_assignment = true:warning
csharp_style_prefer_local_over_anonymous_function = true:warning
csharp_style_prefer_tuple_swap = true:warning
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_inlined_variable_declaration = true:warning
csharp_style_deconstructed_variable_declaration = true:suggestion

dotnet_style_readonly_field = true:warning
csharp_prefer_static_local_function = true:warning
csharp_style_prefer_readonly_struct = true:suggestion
csharp_style_prefer_primary_constructors = true:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning

dotnet_code_quality_unused_parameters = all:warning
csharp_style_unused_value_assignment_preference = discard_variable:warning
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
dotnet_remove_unnecessary_suppression_exclusions = none

dotnet_diagnostic.CA1720.severity = none
dotnet_diagnostic.CA1036.severity = suggestion
dotnet_diagnostic.CA1305.severity = suggestion
dotnet_diagnostic.CA1822.severity = suggestion
dotnet_diagnostic.CA1848.severity = suggestion
dotnet_diagnostic.CA1873.severity = suggestion

[*.{razor,cshtml}]
dotnet_diagnostic.IDE0005.severity = none

resharper_razor_always_use_end_of_line_brace_style = true

[**/Tests/**.cs]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1859.severity = none
dotnet_diagnostic.CA1861.severity = none
dotnet_diagnostic.CA1869.severity = none
dotnet_diagnostic.CA1310.severity = none
